.App {
  text-align: center;
  height: 100%;
}
.title {
  position: relative;
  display: inline-block;
  width: 90%;
}
.title::before {
  content: "";
  position: absolute;
  background-color: #131214;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
}
.red {
  box-shadow: 3px 3px rgb(179, 179, 155), -1em 0 0.4em rgb(63, 72, 51);
}
.red:hover {
  background-color: rgb(70, 81, 76);
}
.img {
  object-fit: fill;
  padding: 0;
  margin-left: 20px;
}
